<ion-content class="showToolBar myOrder">
  <div class="full-width full-height content">
    <div class="historyPanel">
      <div class="historySummary hide-xs hide-vs hide-sm">
        <div class="titleWrapper">
          <p>Order History</p>
          <i class="fad fa-angle-down"></i>
        </div>

        <div class="progressBarWrapper">
          <div class="progressBar">
            <round-progress [current]="40" [radius]="110" [color]="'#00FF00'" [stroke]="3" [max]="100"></round-progress>
            <div class="detail">
              <p class="totalSpent">$457.67</p>
              <p class="spentDescription">Your average spent</p>
              <p class="period">This Week <i class="fal fa-angle-down"></i></p>
            </div>
          </div>
        </div>

        <div class="descriptionWrapper">
          <p class="descriptionHeader">Headline Goes Here</p>
          <p class="descriptionBody">Lorem ipsum dolor sit amet, consectetur adiscing elit. Quisque eget diam eget sapien vehicula pretiumpsuLorem ipsum dolor sit amet, consectetur adiscing elit. Quisque eget diam eget sapien vehicula pretiumpsum dolor sit amet, consectetur adipiscing elit. Quisque eget dim dolor sit amet, consectetur adipiscing elit. Quisque eget di</p>
        </div>
        <div class="referFriendWrapper">
          <button class="roundCenterButton"><span>Refer a friend</span></button>
          <p>* Get +300 points for each arean confirmed friend</p>
        </div>
      </div>
      <div class="historyTab scrollHide">
        <div class="tabHeader">
          <div class="wrapper">
            <div class="tabButton">
              <p class="period opacity_show">This Week</p>
              <div></div>
            </div>
            <div class="tabButton">
              <p class="period">Last Month</p>
            </div>
            <div class="tabButton">
              <p class="period">All History</p>
            </div>
          </div>
        </div>
        <div class="tabContent scrollShow">
          <div class="contentPanel">
            <p class="category">Monday, 8th</p>
            <div class="historyItem">
              <div class="imageWrapper">
                <img src="assets/image/historyItem.png">
              </div>
              <div class="historyItemContent">
                <p class="price color_order_red">$35.00</p>
                <p class="title color_order_black" >Unisex Raglan Long Sleeve</p>
                <div class="category">
                  <p class="status" >Sale</p>
                  <p class="name">Tee shirts</p>
                </div>
              </div>
              <div class="moreWrapper">
                <i class="fad fa-ellipsis-h"></i>
              </div>
            </div>
            <div class="historyItem">
              <div class="imageWrapper">
                <img src="assets/image/historyItem.png">
              </div>
              <div class="historyItemContent">
                <p class="price color_order_red">$35.00</p>
                <p class="title color_order_black" >Unisex Raglan Long Sleeve</p>
                <div class="category">
                  <p class="status">New</p>
                  <p class="name">Tee shirts</p>
                </div>
              </div>
              <div class="moreWrapper">
                <i class="fad fa-ellipsis-h"></i>
              </div>
            </div>
            <div class="historyItem">
              <div class="imageWrapper">
                <img src="assets/image/historyItem.png">
              </div>
              <div class="historyItemContent">
                <p class="price color_order_red" >$35.00</p>
                <p class="title color_order_black" >Unisex Raglan Long Sleeve</p>
                <div class="category">
                  <p class="status">New</p>
                  <p class="name">Tee shirts</p>
                </div>
              </div>
              <div class="moreWrapper">
                <i class="far fa-ellipsis-h"></i>
              </div>
            </div>
            <p class="category">Thursday, 10th</p>
            <div class="historyItem">
              <div class="imageWrapper">
                <img src="assets/image/historyItem.png">
              </div>
              <div class="historyItemContent">
                <p class="price color_order_red" >$35.00</p>
                <p class="title color_order_black" >Unisex Raglan Long Sleeve</p>
                <div class="category">
                  <p class="status">New</p>
                  <p class="name">Tee shirts</p>
                </div>
              </div>
              <div class="moreWrapper">
                <i class="far fa-ellipsis-h"></i>
              </div>
            </div>
            <div class="historyItem">
              <div class="imageWrapper">
                <img src="assets/image/historyItem.png">
              </div>
              <div class="historyItemContent">
                <p class="price color_order_red" >$35.00</p>
                <p class="title color_order_black" >Unisex Raglan Long Sleeve</p>
                <div class="category">
                  <p class="status">New</p>
                  <p class="name">Tee shirts</p>
                </div>
              </div>
              <div class="moreWrapper">
                <i class="far fa-ellipsis-h"></i>
              </div>
            </div>
            <div class="historyItem">
              <div class="imageWrapper">
                <img src="assets/image/historyItem.png">
              </div>
              <div class="historyItemContent">
                <p class="price color_order_red" >$35.00</p>
                <p class="title color_order_black" >Unisex Raglan Long Sleeve</p>
                <div class="category">
                  <p class="status">New</p>
                  <p class="name">Tee shirts</p>
                </div>
              </div>
              <div class="moreWrapper">
                <i class="far fa-ellipsis-h"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
