<ion-content class="showToolBar myProfile">
  <div class="full-width full-height content">
    <div class="profilePanel">
      <div class="profileContent">
        <div class="photoWrapper">
          <div class="photo">
            <i class="fad fa-camera"></i>
          </div>
        </div>
        <p class="changeProfileLabel mb40">Change Profile Picture</p>
        <div class="section">
          <p>User Name</p>
          <input type="text" placeholder="brewman75">
        </div>
        <hr/>
        <div class="section">
          <p>Gender</p>
          <select>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <hr/>
        <div class="section">
          <p>Location</p>
          <input type="text" placeholder="San Macros">
        </div>
        <hr/>
        <div class="section">
          <p>Email</p>
          <input type="email" placeholder="brewer.dalebrewer@gmail.com">
        </div>
        <hr/>
        <div class="section password">
          <p>Password</p>
          <div class="wrapper">
            <input type="password" placeholder="***************************">
            <i class="fad fa-eye-slash"></i>
          </div>
          <span>RESET</span>
        </div>
        <hr/>
        <button class="roundCenterButton mb30 mt30"><span>Save</span></button>
        <p class="logout">LOG OUT</p>
      </div>
    </div>
  </div>
</ion-content>