<ion-content class="showToolBar aboutArena">
    <div class="full-width full-height content displayFlex">
        <div class="aboutPanel">
            <div class="summary">
                <div class="titleWrapper">
                    <p>About Arena</p>
                    <i class="fad fa-angle-down"></i>
                </div>
                <div class="displayFlex mt50">
                    <p class="title">Join Arena Today</p>
                </div>
                <div class="displayFlex mt10">
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adiscingretiumpsum dolor sit amet, consectetur adipiscing elit. QuisqupsuLorem ipsum dolor sit amet, consectetur adiscig elit. </p>
                </div>
                <div class="displayFlex mt10 mb10">
                    <p class="title">Need More Help?</p>
                </div>
                <div class="item pink">

                </div>
            </div>
            <div class="detail">

            </div>
        </div>
    </div>
</ion-content>
