<ion-content class="showToolBar playlist">
  <div class="full-width full-height" id="content" class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-vl-12 col-lg-12 col-md-12 col-sm-12 col-vs-12 col-xs-12">
          <div class="tableFixHead ">
            <table>
              <thead>
                <tr>
                  <th>No.</th>
                  <th>SONG</th>
                  <th class="hide-xs hide-vs">ARTIST</th>
                  <th class="hide-xs hide-vs">ALBUM</th>
                  <th class="hide-xs hide-vs">ISSUED DATE</th>
                  <th>ACTION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let song of listSongs; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{song.title}}</td>
                  <td class="hide-xs hide-vs">{{song.artist}}</td>
                  <td class="hide-xs hide-vs">{{song.album}}</td>
                  <td class="hide-xs hide-vs">{{song.date}}</td>
                  <td>
                    <button *ngIf="checkPlayList[i] === undefined" (click)="addToPlayList(i)"><span>ADD</span></button>
                    <button *ngIf="checkPlayList[i] !== undefined" (click)="removeFromPlayList(song.id, i)"><span>CANCEL</span></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
